{% extends "__base.html" %}
{% load i18n %}
{% load tags %}

{% block pageMenu %}
<div class="container">
  <div class="span12 ezezkmargin menulerroa">
    <nav class="navigation span12 ezezkmargin" role="navigation">
      <div class="navbar pull-left">
        <a class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".menuorokorra">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
      </div>
      <!-- Button Menu Mobile END -->
      <ul class="nav menu nav-pills menuorokorra BuruMenua collapse ">
        <li class="parent ez_mobile">
          <h2><a href="/">Behagunea</a></h2>
        </li>
        <ul class="mobile">
          {% if user.is_authenticated %}
          <li class=""><a href="/talaia_eae2016/logout/">{% trans "Atera" %}</a></li>
          <li class=""><a href="/talaia_eae2016/manage_mentions/">{% trans "Kudeatu aipamenak" %}</a></li>
          <li class=""><a href="/talaia_eae2016/manage_keywords/">{% trans "Kudeatu gakoak" %}</a></li>
          <li class=""><a href="#" data-toggle="modal" data-target="#mention-modal">{% trans "Bidali iritzia" %}</a></li>
          <li class=""><a href="/talaia_eae2016/stats">{% trans "Ikusi estatistikak" %}</a></li>
          <li class="welcome_text">{% trans "Ongi etorri " %}<em>{{ user.username }}</em></li>
          {% else %}
          <li class=""><a href="#" data-toggle="modal" data-target="#mention-modal">{% trans "Bidali iritzia" %}</a></li>
          <li class=""><a href="/talaia_eae2016/stats">{% trans "Ikusi estatistikak" %}</a></li>
          <li class=""><a href="#" data-toggle="modal" data-target="#login-modal">Login</a></li>
          {% endif %}
        </ul>
        <li class="parent mobile"  style="border-left-style: none;">
          <h2>{% trans "Filtroak" %}</h2>
        </li>
        <hr>
        <li class="parent" style="border-left-style: none;">
          <div class="botoiak" data-toggle="buttons">
            <label class="btn btn-lg btn-success active" name="{% trans 'Orokorra' %}">
              <input type="radio" name="options" id="orokorra1" autocomplete="off" checked class="jarri">
              <i class="fa fa-check"></i> {% trans "Orokorra" %}
            </label>
            <label class="btn btn-lg btn-danger">
              <input type="radio" name="options" id="orokorra2" autocomplete="off" class="kendu">
              <i class="fa fa-times"></i> {% trans "Orokorra" %}
            </label>          
          </div>
        </li>
        <li class="parent" style="border-left-style: none;">
          <div class="botoiak" data-toggle="buttons">
            <label class="btn btn-lg btn-success active" name="{% trans 'Bakea' %}">
              <input type="radio" name="options" id="bakea1" autocomplete="off" checked class="jarri">
              <i class="fa fa-check"></i> {% trans "Bakea" %}
            </label>
            <label class="btn btn-lg btn-danger">
              <input type="radio" name="options" id="bakea2" autocomplete="off" class="kendu">
              <i class="fa fa-times"></i> {% trans "Bakea" %}
            </label>          
          </div>
        </li>
        <li class="parent" style="border-left-style: none;">
          <div class="botoiak" data-toggle="buttons">
            <label class="btn btn-lg btn-success active" name="{% trans 'Ahotsak' %}">
              <input type="radio" name="options" id="ahotsak1" autocomplete="off" checked class="jarri">
              <i class="fa fa-check"></i> {% trans "Ahotsak" %}
            </label>
            <label class="btn btn-lg btn-danger">
              <input type="radio" name="options" id="ahotsak2" autocomplete="off" class="kendu">
              <i class="fa fa-times"></i> {% trans "Ahotsak" %}
            </label>          
          </div>
        </li>
        <li class="parent" style="border-left-style: none;">
          <div class="botoiak" data-toggle="buttons">
            <label class="btn btn-lg btn-success active" name="{% trans 'Bizitza' %}">
              <input type="radio" name="options" id="bizitza1" autocomplete="off" checked class="jarri">
              <i class="fa fa-check"></i> {% trans "Bizitza" %}
            </label>
            <label class="btn btn-lg btn-danger">
              <input type="radio" name="options" id="bizitza2" autocomplete="off" class="kendu">
              <i class="fa fa-times"></i> {% trans "Bizitza" %}
            </label>          
          </div>
        </li>
        <li class="parent" style="border-left-style: none;">
          <a href="/" id="filter_button" onclick="return show_filter()" class=""><img src="{{ STATIC_URL }}img/filter.png"></a>
        </li>
        <li class="parent" style="border-left-style: none;">
          <a href="/" id="see_all" onclick="reload_all();return false;" class="btn">{% trans "Denak" %}</a>
        </li>
        <li class="parent ez_mobile" style="border-left-style: none;">
          <div class="botoiak0" data-toggle="buttons">
            <label class="btn btn-lg btn-success active">
              <input type="radio" name="options0" id="option01" autocomplete="off" checked>
              <i class="fa fa-check"></i> {% trans "Refresh ON" %}
            </label>
            <label class="btn btn-lg btn-danger">
              <input type="radio" name="options0" id="option02" autocomplete="off">
              <i class="fa fa-times"></i> {% trans "Refresh OFF" %}
            </label>          
          </div>
        </li>
      </ul>
    </nav>
  </div>
</div>
{% endblock %}

  {% block content %}
  <div id="filter_div" style="display:none;">
    <h2>{% trans "Filtroak" %}</h2>
    {% trans "Data" %}
    {{ filter_form.date }}
    {% trans "Hizkuntza" %}
    {{ filter_form.lang }}
    {% trans "Eragina" %}
    {{ filter_form.influence }}
    {% trans "Mota" %}
    {{ filter_form.type }}
    <div style="display:none">
      {{ filter_form.tag }}
      {{ filter_form.source }}
      {{ filter_form.category }}
    </div>
    <input class="btn" type="button" name="" id="filter_results" value="{% trans 'Filtratu' %}" onclick="reload_with_filters();">
  </div>
  <div id="tag_cloud" class="row">
    <div class="percent_100 underlined">
      <h3 class="">{% trans "Etiketa lainoa" %}</h3>
      <a name="cloud_selector" class="active" id="selector_gakoak">{% trans "Gako-hitzak" %}</a>
      <a class="" name="cloud_selector" id="selector_egileak">{% trans "Egileak" %}</a>
      <a class="" name="cloud_selector" id="selector_visualize">Visualize NAF</a>
      <h3><a class="minimize_maximize" href="#"><img src="{{ STATIC_URL}}img/minimize.png" style="float:right; width:20px;"/></a></h3>
    </div>
    <div id="row_1">
      <!--<div class="percent_10 nav menu nav-pills menuorokorra BuruMenua nav-collapse collapse ">
          <ul>
            <li class="parent_tab active"><a name="cloud_selector" class="active" id="selector_gakoak">{% trans "Gako-hitzak" %}</a></li>
            <li class="parent_tab"><a class="" name="cloud_selector" id="selector_egileak">{% trans "Egileak" %}</a></li>
          </ul>
      </div>-->
      <div class="percent_60">
        <div class="post-preview">
          <div id="tagCloud"></div>
          <div id="sourceTagCloud"></div>
          <div id="nafUpload"> {% include '_naf_upload_form.html' %}</div>
        </div>
      </div>
      <div class="percent_30">
        <div id="pieChart" class="post-preview"></div>
        <div id="timeChart" class="post-preview">
          <svg class="visualisation" style="width: 90%;height: 200px;"></svg>
        </div>
        <div id="countChart" class="post-preview">
          <h4>{% trans "Aipamen kopurua" %}: <span class="aipamen_kopurua">{{ denak_c }}</span></h4>
          <h4>{% trans "Aipamen positiboak" %}: <span class="positibo_kopurua">{{ positiboak_c }}</span></h4>
          <h4>{% trans "Aipamen negatiboak" %}: <span class="negatibo_kopurua">{{ negatiboak_c }}</span></h4>
          <h4>{% trans "Aipamen neutroak" %}: <span class="neutro_kopurua">{{ neutroak_c }}</span></h4>
        </div>
      </div>
      <div class="percent_5">
        <a name="graph_selector" class="active" id="selector_pie"><img src="{{ STATIC_URL }}img/pie_selected.png"></a>
        <a class="" name="graph_selector" id="selector_time"><img src="{{ STATIC_URL }}img/chart.png"></a>
        <a class="" name="graph_selector" id="selector_count"><img src="{{ STATIC_URL }}img/count.png"></a>
      </div>
    </div>
  </div>
  <div id="tweets" class="row">
    <div class="percent_100  underlined">
      <h3 class="">{% trans "Aipamenak" %} <span> ([{% trans "Filters" %}]: {% trans "date" %}: {% trans "1_month" %})</span><a class="minimize_maximize" href="#"><img src="{{ STATIC_URL}}img/minimize.png" style="float:right; width:20px;"/></a></h3>
    </div>
    <div id="row_2">
      <div class="percent_40">
        <div class="post-preview">
          <h4 class="text-center">{% trans "Denak" %} </h4>
          <div class="post-preview">
            {% for i in denak %}
            <div class="mention" id="{{ i.mention_id }}" mota="{{ i.source.type }}" kwrds="" lang="{{ i.lang }}">                                
              <div id="text_{{ i.mention_id }}" class="m_text"><img {% if i.source.type == 'Twitter' %}src="{{ STATIC_URL }}img/twitter_icon.png"{% endif %}{% if i.source.type == 'press' %}src="{{ STATIC_URL }}img/press_icon.png"{% endif %} > <a href="#" onclick="reload_from_user('{{ i.source.source_name }}');return false;" class="source_name" title='<div id="infl_{{ i.mention_id }}" class="m_influence m_infl_{{ i.source.type }}" value="{{ i.source.influence }}">{{ i.source.influence|round }}</div>' >{{ i.source.source_name }}</a>: {{ i.text|replace_in_tweets|cut:i.source.type|safe }} <a href="{{ i.url }}" target="_blank" >+</a>
              </div>
              <!--<div id="src_{{ i.mention_id }}" class="m_jatorria">
                  <a href="#" onclick="reload_from_user('{{ i.source.source_name }}');return false;" >{{ i.source.source_name }}</a>
              </div>-->
              
              <div id="data_{{ i.mention_id }}" class="m_data">{{ i.date|clean_date }}</div>
              
            </div>
            {% endfor %}
            <a href="#" class="show_more" name="all" onclick='show_all_tweets("all");'>
              <p>{% trans "Erakutsi gehiago +" %}</p>
            </a>
          </div>
        </div>
      </div>
      <div class="percent_40">
        <div class="post-preview">
          <div class="post-preview">
            <h4 class="text-center">{% trans "Aipamen positiboak" %} <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></h4>
            {% for i in positiboak %}
            <div class="mention" id="{{ i.mention_id }}" mota="{{ i.source.type }}" kwrds="" lang="{{ i.lang }}">
              <div id="text_{{ i.mention_id }}" class="m_text"><img {% if i.source.type == 'Twitter' %}src="{{ STATIC_URL }}img/twitter_icon.png"{% endif %}{% if i.source.type == 'press' %}src="{{ STATIC_URL }}img/press_icon.png"{% endif %} > <a href="#" onclick="reload_from_user('{{ i.source.source_name }}');return false;" class="source_name" >{{ i.source.source_name }}</a>: {{ i.text|replace_in_tweets|cut:i.source.type|safe }} <a href="{{ i.url }}" target="_blank" >+</a>
              </div>
              <!--<div id="src_{{ i.mention_id }}" class="m_jatorria">
                  <a href="#" onclick="reload_from_user('{{ i.source.source_name }}');return false;" >{{ i.source.source_name }}</a>
              </div>-->
              
              <div id="data_{{ i.mention_id }}" class="m_data">{{ i.date|clean_date }}</div>
              
            </div>
            {% endfor %}
            <a href="#" class="show_more" name="all" onclick='show_all_tweets("P");'>
              <p>{% trans "Erakutsi gehiago +" %}</p>
            </a>
          </div>
        </div>
      </div>
      <div class="percent_40">
        <div class="post-preview">
          <div class="post-preview">
            <h4 class="text-center">{% trans "Aipamen negatiboak" %} <span class="glyphicon glyphicon-minus" aria-hidden="true"></span></h4>
            {% for i in negatiboak %}
            <div class="mention" id="{{ i.mention_id }}" mota="{{ i.source.type }}" kwrds="" lang="{{ i.lang }}">
              <div id="text_{{ i.mention_id }}" class="m_text"><img {% if i.source.type == 'Twitter' %}src="{{ STATIC_URL }}img/twitter_icon.png"{% endif %}{% if i.source.type == 'press' %}src="{{ STATIC_URL }}img/press_icon.png"{% endif %} > <a href="#" onclick="reload_from_user('{{ i.source.source_name }}');return false;" class="source_name" >{{ i.source.source_name }}</a>: {{ i.text|replace_in_tweets|cut:i.source.type|safe }} <a href="{{ i.url }}" target="_blank" >+</a>
              </div>
              <!--<div id="src_{{ i.mention_id }}" class="m_jatorria">
                  <a href="#" onclick="reload_from_user('{{ i.source.source_name }}');return false;" >{{ i.source.source_name }}</a>
              </div>-->
              
              <div id="data_{{ i.mention_id }}" class="m_data">{{ i.date|clean_date }}</div>
                                
            </div>
            {% endfor %}
            <a href="#" class="show_more" name="all" onclick='show_all_tweets("N");'>
              <p>{% trans "Erakutsi gehiago +" %}</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
 
  
    {% block visualizationScripts %}
    <!-- jQuery -->
    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/d3.min.js"></script>
    <script src="{{ STATIC_URL }}js/d3.layout.cloud.js"></script>
    <script src="{{ STATIC_URL }}js/clean-blog.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.tooltipster.min.js"></script>
    <!-- Pie chart -->
    <script src="{{ STATIC_URL }}js/d3pie.min.js"></script>
    <!-- D3 fisheye efect -->
    <script src="{{ STATIC_URL }}js/d3fisheye.js"></script>
    
    <!-- Custom Theme JavaScript -->
    <script src="{{ STATIC_URL }}js/scripts.js"></script>
    <script>
      {% if  mention_form.errors %}
      $("#mention-modal").modal('show');
      {% endif %}
      {% for i in denak %}
      $( "#text_{{ i.mention_id }} .source_name" ).tooltipster({content:$('<div><img style="width:30px" src="{{ STATIC_URL }}images/{% if i.source.type == "Twitter" %}klout-logo_transp.png{% endif %}{% if i.source.type == "press" %}ahrefs-logo.png{% endif %}"> {{ i.source.influence|round }}</div>')});
      {% endfor %}
      {% for i in positiboak %}
      $( "#text_{{ i.mention_id }} .source_name" ).tooltipster({content:$('<div><img style="width:30px" src="{{ STATIC_URL }}images/{% if i.source.type == "Twitter" %}klout-logo_transp.png{% endif %}{% if i.source.type == "press" %}ahrefs-logo.png{% endif %}"> {{ i.source.influence|round }}</div>')});
      {% endfor %}
      {% for i in negatiboak %}
      $( "#text_{{ i.mention_id }} .source_name" ).tooltipster({content:$('<div><img style="width:30px" src="{{ STATIC_URL }}images/{% if i.source.type == "Twitter" %}klout-logo_transp.png{% endif %}{% if i.source.type == "press" %}ahrefs-logo.png{% endif %}"> {{ i.source.influence|round }}</div>')});
    {% endfor %}
      
      var lainoa='{{ lainoa|safe }}';
      var source_lainoa='{{ source_lainoa|safe }}';
      var neutroak={{ neutroak_c }};
      var positiboak={{ positiboak_c }};
      var negatiboak={{ negatiboak_c }};
      var time_neutroak_list = [{% for i in time_neutroak_list %}{{ i|safe }},{% endfor %}];
      var time_neutroak_list_max = {{ time_neutroak_list_max }};
      var time_positiboak_list = [{% for i in time_positiboak_list %}{{ i|safe }},{% endfor %}];
      var time_positiboak_list_max = {{ time_positiboak_list_max }};
      var time_negatiboak_list = [{% for i in time_negatiboak_list %}{{ i|safe }},{% endfor %}];
      var time_negatiboak_list_max = {{ time_negatiboak_list_max }};
      main_page_graphs();
      
    </script> 
    
    <!-- Emoji rendering functions -->
    <script src="{{ STATIC_URL }}js/twemoji.min.js"></script>
    <script src="{{ STATIC_URL }}js/emoji.js"></script>
    {% endblock %}  
