{% extends "__base.html" %}
{% load i18n %}
{% load tags %}

{% block pageMenu %}
<div class="container">
  <div class="span12 ezezkmargin menulerroa">
    <nav class="navigation span12 ezezkmargin" role="navigation">
      <div class="navbar pull-left">
        <a class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".menuorokorra">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
      </div>
      <!-- Button Menu Mobile END -->
      <ul class="nav menu nav-pills menuorokorra BuruMenua collapse ">
        <li class="parent ez_mobile">
          <h2><a href="/talaia_eae2016/">Termometroa</a></h2>
        </li>
        <ul class="mobile">
          {% if user.is_authenticated %}
          <li class=""><a href="/talaia_eae2016/logout/">{% trans "Atera" %}</a></li>
          <li class=""><a href="/talaia_eae2016/manage_mentions/">{% trans "Kudeatu aipamenak" %}</a></li>
          <li class=""><a href="/talaia_eae2016/manage_keywords/">{% trans "Kudeatu gakoak" %}</a></li>
          <li class=""><a href="#" data-toggle="modal" data-target="#mention-modal">{% trans "Bidali iritzia" %}</a></li>
          <li class=""><a href="/talaia_eae2016/stats">{% trans "Ikusi estatistikak" %}</a></li>
          <li class="welcome_text">{% trans "Ongi etorri " %}<em>{{ user.username }}</em></li>
          {% else %}
          <li class=""><a href="#" data-toggle="modal" data-target="#mention-modal">{% trans "Bidali iritzia" %}</a></li>
          <li class=""><a href="/talaia_eae2016/stats">{% trans "Ikusi estatistikak" %}</a></li>
          <li class=""><a href="#" data-toggle="modal" data-target="#login-modal">Login</a></li>
          {% endif %}
        </ul>
	
        <li class="parent" style="border-left-style: none;">
          <div class="botoiak" data-toggle="buttons">
            <label class="btn btn-lg btn-success {% if category != 'ez_zuzendu' and category != '' %} active{% endif %}" name="{% trans 'Zuzendu gabeak' %}">
              <input type="radio" name="table_options" id="ez_zuzendu1" autocomplete="off" checked class="jarri">
              <i class="fa fa-check"></i> {% trans "Zuzendu gabeak" %}
            </label>
            <label class="btn btn-lg btn-danger {% if category == 'ez_zuzendu' and category == '' %} active{% endif %}">
              <input type="radio" name="table_options" id="ez_zuzendu2" autocomplete="off" class="kendu">
              <i class="fa fa-times"></i> {% trans "Zuzendu gabeak" %}
            </label>          
          </div>
        </li>
        <li class="parent" style="border-left-style: none;">
          <div class="botoiak" data-toggle="buttons">
            <label class="btn btn-lg btn-success {% if category != 'zuzenduak' %}active{% endif %}" name="{% trans 'Zuzenduak' %}">
              <input type="radio" name="table_options" id="zuzenduak1" autocomplete="off" checked class="jarri">
              <i class="fa fa-check"></i> {% trans "Zuzenduak" %}
            </label>
            <label class="btn btn-lg btn-danger {% if category == 'zuzenduak' %}active{% endif %}">
              <input type="radio" name="table_options" id="zuzenduak2" autocomplete="off" class="kendu">
              <i class="fa fa-times"></i> {% trans "Zuzenduak" %}
            </label>          
          </div>
        </li>
        <li class="parent" style="border-left-style: none;">
          <div class="botoiak" data-toggle="buttons">
            <label class="btn btn-lg btn-success {% if category != 'positiboak' %}active{% endif %}" name="{% trans 'Positiboak' %}">
              <input type="radio" name="table_options" id="positiboak1" autocomplete="off" checked class="jarri">
              <i class="fa fa-check"></i> {% trans "Positiboak" %}
            </label>
            <label class="btn btn-lg btn-danger {% if category == 'positiboak' %}active{% endif %}">
              <input type="radio" name="table_options" id="positiboak2" autocomplete="off" class="kendu">
              <i class="fa fa-times"></i> {% trans "Positiboak" %}
            </label>          
          </div>
        </li>
        <li class="parent" style="border-left-style: none;">
          <div class="botoiak" data-toggle="buttons">
            <label class="btn btn-lg btn-success {% if category != 'negatiboak' %}active{% endif %}" name="{% trans 'Negatiboak' %}">
              <input type="radio" name="table_options" id="negatiboak1" autocomplete="off" checked class="jarri">
              <i class="fa fa-check"></i> {% trans "Negatiboak" %}
            </label>
            <label class="btn btn-lg btn-danger {% if category == 'negatiboak' %}active{% endif %}">
              <input type="radio" name="table_options" id="negatiboak2" autocomplete="off" class="kendu">
              <i class="fa fa-times"></i> {% trans "Negatiboak" %}
            </label>          
          </div>
        </li>
        <li class="parent" style="border-left-style: none;">
          <div class="botoiak" data-toggle="buttons">
            <label class="btn btn-lg btn-success {% if category != 'neutroak' %}active{% endif %}" name="{% trans 'Neutroak' %}">
              <input type="radio" name="table_options" id="neutroak1" autocomplete="off" checked class="jarri">
              <i class="fa fa-check"></i> {% trans "Neutroak" %}
            </label>
            <label class="btn btn-lg btn-danger {% if category == 'neutroak' %}active{% endif %}">
              <input type="radio" name="table_options" id="neutroak2" autocomplete="off" class="kendu">
              <i class="fa fa-times"></i> {% trans "Neutroak" %}
            </label>          
          </div>
        </li>
        <li class="parent" style="border-left-style: none;">
          <div class="botoiak" data-toggle="buttons">
            <label class="btn btn-lg btn-success {% if category != 'twitter' %}active{% endif %}" name="{% trans 'Twitter' %}">
              <input type="radio" name="table_options" id="twitter1" autocomplete="off" checked class="jarri">
              <i class="fa fa-check"></i> {% trans "Twitter" %}
            </label>
            <label class="btn btn-lg btn-danger {% if category == 'twitter' %}active{% endif %}">
              <input type="radio" name="table_options" id="twitter2" autocomplete="off" class="kendu">
              <i class="fa fa-times"></i> {% trans "Twitter" %}
            </label>          
          </div>
        </li>
        <li class="parent" style="border-left-style: none;">
          <div class="botoiak" data-toggle="buttons">
            <label class="btn btn-lg btn-success {% if category != 'prentsa' %}active{% endif %}" name="{% trans 'Prentsa' %}">
              <input type="radio" name="table_options" id="prentsa1" autocomplete="off" checked class="jarri">
              <i class="fa fa-check"></i> {% trans "Prentsa" %}
            </label>
            <label class="btn btn-lg btn-danger {% if category == 'prentsa' %}active{% endif %}">
              <input type="radio" name="table_options" id="prentsa2" autocomplete="off" class="kendu">
              <i class="fa fa-times"></i> {% trans "Prentsa" %}
            </label>          
          </div>
        </li>
        <li class="parent" style="border-left-style: none;">
          <div class="botoiak" data-toggle="buttons">
            <label class="btn btn-lg btn-success {% if category != 'eu' %}active{% endif %}" name="{% trans 'EU' %}">
              <input type="radio" name="table_options" id="eu1" autocomplete="off" checked class="jarri">
              <i class="fa fa-check"></i> {% trans "EU" %}
            </label>
            <label class="btn btn-lg btn-danger {% if category == 'eu' %}active{% endif %}">
              <input type="radio" name="table_options" id="eu2" autocomplete="off" class="kendu">
              <i class="fa fa-times"></i> {% trans "EU" %}
            </label>          
          </div>
        </li>
        <li class="parent" style="border-left-style: none;">
          <div class="botoiak" data-toggle="buttons">
            <label class="btn btn-lg btn-success {% if category != 'es' %}active{% endif %}" name="{% trans 'ES' %}">
              <input type="radio" name="table_options" id="es1" autocomplete="off" checked class="jarri">
              <i class="fa fa-check"></i> {% trans "ES" %}
            </label>
            <label class="btn btn-lg btn-danger {% if category == 'es' %}active{% endif %}">
              <input type="radio" name="table_options" id="es2" autocomplete="off" class="kendu">
              <i class="fa fa-times"></i> {% trans "ES" %}
            </label>          
          </div>
        </li>
        <li class="parent" style="border-left-style: none;">
          <div class="botoiak" data-toggle="buttons">
            <label class="btn btn-lg btn-success {% if category != 'en' %}active{% endif %}" name="{% trans 'EN' %}">
              <input type="radio" name="table_options" id="en1" autocomplete="off" checked class="jarri">
              <i class="fa fa-check"></i> {% trans "EN" %}
            </label>
            <label class="btn btn-lg btn-danger {% if category == 'en' %}active{% endif %}">
              <input type="radio" name="table_options" id="en2" autocomplete="off" class="kendu">
              <i class="fa fa-times"></i> {% trans "EN" %}
            </label>          
          </div>
        </li>
        <li class="parent" style="border-left-style: none;">
          <div class="botoiak" data-toggle="buttons">
            <label class="btn btn-lg btn-success {% if category != 'fr' %}active{% endif %}" name="{% trans 'FR' %}">
              <input type="radio" name="table_options" id="fr1" autocomplete="off" checked class="jarri">
              <i class="fa fa-check"></i> {% trans "FR" %}
            </label>
            <label class="btn btn-lg btn-danger {% if category == 'fr' %}active{% endif %}">
              <input type="radio" name="table_options" id="fr2" autocomplete="off" class="kendu">
              <i class="fa fa-times"></i> {% trans "FR" %}
            </label>          
          </div>
        </li>
        <li/>
    </nav>
  </div>
</div>
{% endblock %}

{% block content %}

<table class="mentions">
  <thead>
    <tr>
      <td>ID</td>
      <td>{% trans "Testua" %}</td>
      <td>{% trans "Polaritatea" %}</td>
      <td>{% trans "Data" %}</td>
      <td>{% trans "Iturria" %}</td>
      <td>{% trans "Hizk" %}</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    {% for mention in mentions %}
    <tr id="{{ mention.mention_id }}" {% if mention.corrected %}class="corrected" {% endif %} name="{{ mention|get_polarity }}">
      <td>{{ mention.mention_id }}</td>
      <td>{{ mention|mark_keywords|safe }}</td>
      <td>
        <input value="P" type="checkbox" onclick="table_click(this);" {% if mention|get_polarity == 'P' %}checked {% endif %}> {% trans "P" %}
        <input value="N" type="checkbox" onclick="table_click(this);" {% if mention|get_polarity == 'N' %}checked {% endif %}> {% trans "N" %}
        <input value="NEU" type="checkbox" onclick="table_click(this);" {% if mention|get_polarity == 'NEU' %}checked {% endif %}> {% trans "Neu" %} <strong>[{{ mention.polarity }}]</strong>
      </td>
      <td>{{ mention.date|clean_date }}</td>
      <td><img src="{{ STATIC_URL }}img/{{ mention.source.type }}.jpg"></td>
      <td>{{ mention.lang }}</td>
      <td><img src="{{ STATIC_URL }}img/remove.png" onclick="delete_mention({{ mention.mention_id }})"></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
<div class="pagination">
  <span class="step-links">
    {% for page in mentions.paginator.page_range %}
    {% if forloop.counter != 1 %} | {% endif %}
    {% if mentions.number == page %}
    <a href="#" class="current_page">{{ page }}</a>
    {% else %}
    <a href="?page={{ page }}&category={{ category }}">{{ page }}</a>
    {% endif %}
    {% endfor %}
  </span>
</div>
{% endblock %}

{% block modals %}
        <div id="loading_modal" class="modal text-center" style="display:none;"><h1>{% trans "Datuak eguneratzen..." %}</h1><img src="{{ STATIC_URL}}img/ajax-loader.gif"/></div>
{% endblock %}
{% block visualizationScripts %}
        <!-- jQuery -->
        <script src="{{ STATIC_URL }}js/jquery.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
        <script src="{{ STATIC_URL }}js/d3.min.js"></script>
        <script src="{{ STATIC_URL }}js/d3.layout.cloud.js"></script>
        <script src="{{ STATIC_URL }}js/d3pie.min.js"></script>
        <script>lainoa="{}";neutroak=0;positiboak=0;negatiboak=0;</script>
        <script src="{{ STATIC_URL }}js/jquery.dataTables.min.js"></script>
        <script src="{{ STATIC_URL }}js/dataTables.tableTools.js"></script>
        <script src="{{ STATIC_URL }}js/clean-blog.js"></script>
        <script>
          $.fn.dataTableExt.pager.numbers_length = 40;
          $('table').DataTable({bFilter: false, bInfo: false, bPaginate: false,iDisplayLength: 100,extPagination: {
          numbers_length: 600
          }});
          var source_lainoa='{}';
        </script>
        <script src="{{ STATIC_URL }}js/scripts.js"></script>
{% endblock %}        
