{% extends "__base.html" %}
{% load i18n %}
{% load tags %}

{% block pageMenu %}
<div class="container">
  <div class="span12 ezezkmargin menulerroa">
    <nav class="navigation span12 ezezkmargin" role="navigation">
      <div class="navbar pull-left">
        <a class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".menuorokorra">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
      </div>
      <!-- Button Menu Mobile END -->
      <ul class="nav menu nav-pills menuorokorra BuruMenua collapse ">
        <li class="parent ez_mobile">
          <h2><a href="/">Behagunea</a></h2>
        </li>
        <ul class="mobile">
          {% if user.is_authenticated %}
          <li class=""><a href="/talaia_eae2016/logout/">{% trans "Atera" %}</a></li>
          <li class=""><a href="/talaia_eae2016/manage_mentions/">{% trans "Kudeatu aipamenak" %}</a></li>
          <li class=""><a href="/talaia_eae2016/manage_keywords/">{% trans "Kudeatu gakoak" %}</a></li>
          <li class=""><a href="#" data-toggle="modal" data-target="#mention-modal">{% trans "Bidali iritzia" %}</a></li>
          <li class=""><a href="/talaia_eae2016/stats">{% trans "Ikusi estatistikak" %}</a></li>
          <li class="welcome_text">{% trans "Ongi etorri " %}<em>{{ user.username }}</em></li>
          {% else %}
          <li class=""><a href="#" data-toggle="modal" data-target="#mention-modal">{% trans "Bidali iritzia" %}</a></li>
          <li class=""><a href="/talaia_eae2016/stats">{% trans "Ikusi estatistikak" %}</a></li>
          <li class=""><a href="#" data-toggle="modal" data-target="#login-modal">Login</a></li>
          {% endif %}
        </ul>
        <li class="parent"><input type="button" value="{% trans 'Sortu gako berria' %}" data-toggle="modal" data-target="#keyword-modal"></li>
        <li/>
  </div>
</div>
{% endblock %}
        
{% block content %}
<table class="keywords">
  <thead>
    <tr>
      <td>{% trans "Mota" %}</td>
      <td>{% trans "Hizkuntza" %}</td>
      <td>{% trans "Kategoria" %}</td>
      <td>{% trans "Azpi-kategoria" %}</td>
      <td>{% trans "Terminoa" %}</td>
      <td>{% trans "Pantaila-etiketa" %}</td>
      <td></td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    {% for key in keywords %}
    <tr name="{{ key.keyword_id }}" {% if mention.corrected %}class="corrected" {% endif %}>
      <td>{{ key.type }}</td>
      <td>{{ key.lang }}</td>
      <td>{{ key.category }}</td>
      <td>{{ key.subCat }}</td>
      <td>{{ key.term }}</td>
      <td>{{ key.screen_tag }}</td>
      <td><a href="#" data-toggle="modal" data-target="#keyword-modal" onclick="load_keyword_form('{{ key.keyword_id }}')" >{% trans "Editatu" %}</a></td>
      <td>{{ key.keyword_id }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block modals %}
<div id="loading_modal" class="modal text-center" style="display:none;"><h1>{% trans "Datuak eguneratzen..." %}</h1><img src="{{ STATIC_URL}}img/ajax-loader.gif"/></div>
<div class="modal fade" id="keyword-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="keywordmodal-container">
      <h1 style="float:right;"><a href="#" data-toggle="modal" data-target="#keyword-modal">x</a></h1><br>
      <h1>{% trans "Kudeatu gakoa" %}</h1><br>
      <form method="POST" action="#">{% csrf_token %}
        {{ keyword_form }}
        <input type="submit" name="save_keyword" class="login loginmodal-submit" value="{% trans 'Gorde' %}">
      </form>
      <!--<div class="login-help">
          <a href="#">{% trans "Erregistratu" %}</a> - <a href="#">{% trans "Pasahitza ahaztu duzu?" %}</a>
      </div>-->
    </div>
  </div>
</div>
{% endblock %}

{% block visualizationScripts %}
<!-- jQuery -->
<script src="{{ STATIC_URL }}js/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}js/d3.min.js"></script>
<script src="{{ STATIC_URL }}js/d3.layout.cloud.js"></script>
<script src="{{ STATIC_URL }}js/d3pie.min.js"></script>
<script>lainoa="{}";neutroak=0;positiboak=0;negatiboak=0;</script>
<script src="{{ STATIC_URL }}js/jquery.dataTables.min.js"></script>
<script src="{{ STATIC_URL }}js/dataTables.tableTools.js"></script>
<script src="{{ STATIC_URL }}js/clean-blog.js"></script>
<script src="{{ STATIC_URL }}js/scripts.js"></script>
<script>$('table').DataTable();</script>
{% endblock %}
