{% extends "__base.html" %}
{% load i18n %}
{% load tags %}

{% block pageMenu %}
            <div class="container">
                <div class="span12 ezezkmargin menulerroa">
                    <nav class="navigation span12 ezezkmargin" role="navigation">
                        <div class="navbar pull-left">
                            <a class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".menuorokorra">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            </a>
                        </div>
                        <!-- Button Menu Mobile END -->
                        <ul class="nav menu nav-pills menuorokorra BuruMenua collapse ">
                            <li class="parent ez_mobile">
			      <h2><a href="/talaia_eae2016/">Termometroa</a></h2>
                            </li>
                            {% if user.is_authenticated %}
                                <li class="parent ez_mobile" style="border-left-style: none;">
                                    <a href="/talaia_eae2016/export" id="export" class="btn">{% trans "Esportatu datuak" %}</a>
                                </li>
				<li class="parent ez_mobile" style="border-left-style: none;">
				    <a id="export_stats" onclick="get_filter_parameters();" href="/talaia_eae2016/export_stats" id="export" class="btn">{% trans "Esportatu estatistikak" %}</a>
				</li>
                            {% endif %}
                            <ul class="mobile">
                                {% if user.is_authenticated %}
                                <li class=""><a href="/talaia_eae2016/logout/">{% trans "Atera" %}</a></li>
                                <li class=""><a href="/talaia_eae2016/manage_mentions/">{% trans "Kudeatu aipamenak" %}</a></li>
                                <li class=""><a href="/talaia_eae2016/manage_keywords/">{% trans "Kudeatu gakoak" %}</a></li>
                                <li class=""><a href="#" data-toggle="modal" data-target="#mention-modal">{% trans "Bidali iritzia" %}</a></li>
                                <li class=""><a href="/talaia_eae2016/stats">{% trans "Ikusi estatistikak" %}</a></li>
                                <li class="welcome_text">{% trans "Ongi etorri " %}<em>{{ user.username }}</em></li>
                                {% else %}
                                <li class=""><a href="#" data-toggle="modal" data-target="#mention-modal">{% trans "Bidali iritzia" %}</a></li>
                                <li class=""><a href="/talaia_eae2016/stats">{% trans "Ikusi estatistikak" %}</a></li>
                                <li class=""><a href="#" data-toggle="modal" data-target="#login-modal">Login</a></li>
                                {% endif %}
                            </ul>
                            <li class="ez_mobile"/>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
{% endblock %}

{% block content %}
            <div id="filter_div">
                <h2>{% trans "Filtroak" %}</h2>
                {% trans "Data" %}{{ filter_form.date_b }}
                <a id="data_b_a" href="#" onclick='$("#id_date_b").focus();return false;'><img src="{{ STATIC_URL }}img/calendar.png" class="calendar"></a>
                >
                {{ filter_form.date_e }}
                <a id="data_e_a" href="#" onclick='$("#id_date_e").focus();return false;'><img src="{{ STATIC_URL }}img/calendar.png" class="calendar"></a>
                {% trans "Itsasargia" %}
                {{ filter_form.category }}
                {% trans "Proiektua" %}
                {{ filter_form.project }}
                <input class="btn" type="button" name="" id="filter_results" value="{% trans 'Filtratu' %}" onclick="reload_with_filters_stats();">
            </div>
            <div class="progression_stat" class="row">
                <div class="percent_100 underlined">
                    <h3 class="">{% trans "Progresioa" %}</h3>
                </div>
                <div id="row_1">
                    <div id="timeChart" class="post-preview">
                        <svg class="visualisation" style="width:97%;height:300px;"></svg>
                    </div>
                    <div class="percent_30">
                    </div>
                </div>
            </div>
            <div class="top_keyword_stat" class="row">
                <div class="percent_100 underlined">
                    <h3 class="">{% trans "TOP Keyword" %}</h3>
                </div>
                <div id="row_1">
                    <div class="percent_30">
                        <div class="post-preview">
                            <p>{% trans "Denak" %}</p>
                            <div id="barChartAll" class="post-preview"></div>
                        </div>
                    </div>
                    <div class="percent_30">
                        <div class="post-preview">
                            <p>{% trans "Positiboak" %}</p>
                            <div id="barChartPos" class="post-preview"></div>
                        </div>
                    </div>
                    <div class="percent_30">
                        <div class="post-preview">
                            <p>{% trans "Negatiboak" %}</p>
                            <div id="barChartNeg" class="post-preview"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="top_media_stat" class="row">
                <div class="percent_100 underlined">
                    <h3 class="">{% trans "TOP MEDIA" %}</h3>
                </div>
                <div id="row_1">
                    <div class="percent_30">
                        <div class="post-preview">
                            <p>{% trans "Denak" %}</p>
                            <div id="barChart2All" class="post-preview"></div>
                        </div>
                    </div>
                    <div class="percent_30">
                        <div class="post-preview">
                            <p>{% trans "Positiboak" %}</p>
                            <div id="barChart2Pos" class="post-preview"></div>
                        </div>
                    </div>
                    <div class="percent_30">
                        <div class="post-preview">
                            <p>{% trans "Negatiboak" %}</p>
                            <div id="barChart2Neg" class="post-preview"></div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="top_twitter_stat" class="row">
                    <div class="top_twitter_stat" class="row">
                        <div class="percent_100 underlined">
                            <h3 class="">{% trans "TOP Twitter" %}</h3>
                        </div>
                        <div id="row_1">
                            <div class="percent_30">
                                <div class="post-preview">
                                    <p>{% trans "Denak" %}</p>
                                    <div id="barChart3All" class="post-preview"></div>
                                </div>
                            </div>
                            <div class="percent_30">
                                <div class="post-preview">
                                    <p>{% trans "Positiboak" %}</p>
                                    <div id="barChart3Pos" class="post-preview"></div>
                                </div>
                            </div>
                            <div class="percent_30">
                                <div class="post-preview">
                                    <p>{% trans "Negatiboak" %}</p>
                                    <div id="barChart3Neg" class="post-preview"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
{% endblock %} 

{% block visualizationScripts %}
        <!-- jQuery -->
        <script src="{{ STATIC_URL }}js/jquery.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
        <script src="{{ STATIC_URL }}js/d3.min.js"></script>
        <script src="{{ STATIC_URL }}js/d3.layout.cloud.js"></script>
        <!-- Pie chart -->
        <script src="{{ STATIC_URL }}js/d3pie.min.js"></script>
        <script src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>
        <script src="{{ STATIC_URL }}js/clean-blog.js"></script>
        <!-- Custom Theme JavaScript -->
        <script src="{{ STATIC_URL }}js/scripts.js"></script>
        <script>
            {% if  mention_form.errors %}
                $("#mention-modal").modal('show');
            {% endif %}
            var lainoa ='{}';
            var source_lainoa='{}';
            var neutroak={{ neutroak_c }};
            var positiboak={{ positiboak_c }};
            var negatiboak={{ negatiboak_c }};
            var time_neutroak_list = [{% for i in time_neutroak_list %}{{ i|safe }},{% endfor %}];
            var time_neutroak_list_max = {{ time_neutroak_list_max }};
            var time_positiboak_list = [{% for i in time_positiboak_list %}{{ i|safe }},{% endfor %}];
            var time_positiboak_list_max = {{ time_positiboak_list_max }};
            var time_negatiboak_list = [{% for i in time_negatiboak_list %}{{ i|safe }},{% endfor %}];
            var time_negatiboak_list_max = {{ time_negatiboak_list_max }};
            var top_keyword_categories = [{{ top_keyword_categories|safe }}];
            var top_keyword_values = {{ top_keyword_values }};
            var top_keyword_categories_pos = [{{ top_keyword_categories_pos|safe }}];
            var top_keyword_values_pos = {{ top_keyword_values_pos }};
            var top_keyword_categories_neg = [{{ top_keyword_categories_neg|safe }}];
            var top_keyword_values_neg = {{ top_keyword_values_neg }};
            var top_media_categories = [{{ top_media_categories|safe }}];
            var top_media_values = {{ top_media_values }};
            var top_media_categories_pos = [{{ top_media_categories_pos|safe }}];
            var top_media_values_pos = {{ top_media_values_pos }};
            var top_media_categories_neg = [{{ top_media_categories_neg|safe }}];
            var top_media_values_neg = {{ top_media_values_neg }};
            var top_twitter_categories = [{{ top_twitter_categories|safe }}];
            var top_twitter_values = {{ top_twitter_values }};
            var top_twitter_categories_pos = [{{ top_twitter_categories_pos|safe }}];
            var top_twitter_values_pos = {{ top_twitter_values_pos }};
            var top_twitter_categories_neg = [{{ top_twitter_categories_neg|safe }}];
            var top_twitter_values_neg = {{ top_twitter_values_neg }};
            stats_page_graphs();
            stats_page_filters();
            var day_names = ['{% trans "Sun" %}','{% trans "Mon" %}','{% trans "Tue" %}','{% trans "Wed" %}','{% trans "Thu" %}','{% trans "Fri" %}','{% trans "Sat" %}'];
            var month_names = [ '{% trans "January" %}', '{% trans "February" %}', '{% trans "March" %}', '{% trans "April" %}', '{% trans "May" %}', '{% trans "June" %}', '{% trans "July" %}', '{% trans "August" %}', '{% trans "September" %}', '{% trans "October" %}', '{% trans "November" %}', '{% trans "December" %}' ];
            $("#id_date_b").datepicker({dayNamesMin: day_names,monthNames:month_names, firstDay: 1,dateFormat: 'yy-mm-dd'});
            $("#id_date_e").datepicker({dayNamesMin: day_names,monthNames:month_names, firstDay: 1,dateFormat: 'yy-mm-dd'});
            
            
        </script> 
{% endblock %} 


