.tokens .token {
  display: inline;
  font-size: 1.2em;
  margin-right: 3px;
}

.tokens .entity {
  display: inline-block;
  border-bottom: 1px solid;
  font-weight: bold;
}

.tokens .token:hover {
  cursor: pointer;
}

.node circle {
   fill: #fff;
   stroke: steelblue;
   stroke-width: 3px;
 }

 .node text { font: 12px sans-serif; }

 .link {
   fill: none;
   stroke: #ccc;
   stroke-width: 2px;
 }
