.tokens .token {
  display: inline-block;
  font-size: 1.2em;
  margin-right: 3px;
}

.tokens .token.entity {
  text-decoration: underline;
  font-weight: bold;
}

.tokens .token:hover {
  cursor: pointer;
}
